li {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 29px 0px 16px;
}

.text {
    padding-left: 22px;
    position: absolute;
    left: 32px;
}

.active {
    background-color: #C7E0F4;
}