.email-title {
    color: rgba(50, 49, 48, 1);
    font-family: "SegoeUI";
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 12px;
}