.Filter{
    opacity: 1;
    color: rgba(1,120,212,1);
    font-family: "SegoeUI";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    width: 57px;
    height: 19px;   
    margin-left: 145px;
}