.navlink{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    font-size: 14px;
    color: #005A9E;
}
.navlink > * {
    margin: 5px;
}
.gray{
    color: #C8C6C4 !important; 
}