.emailInformationContainer {
    width: 50%;
    display: flex;
    column-gap: 11px;
}

.rowFlex {
    display: flex;
    align-items: end;
    column-gap: 7px;
}

.rowFlex p {
    padding: 0;
    margin: 0;

}

.temp {
    border-radius: 50%;
    border: 1px solid #D13438;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tempText {
    color: rgba(50, 49, 48, 1);
    font-family: "SegoeUI";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}

.emailLeftHeader {
    width: 70%;
}

.emailLeftHeader p {
    margin: 0px;

}
.smallInformation{
    margin-top: 3px;

}