.box2{
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    border: 1px solid rgba(0, 0, 0, 0.048);
    width: 300px;
    height: 81px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.box2 :hover{
    opacity: 1;
    background-color: #C7E0F4;
   
}